<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PMS_Main_ModelContainer" connectionString="metadata=res://*/PMS_Main_Model.csdl|res://*/PMS_Main_Model.ssdl|res://*/PMS_Main_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MINIDU-PC\SQLEXPRESS;Initial Catalog=PMS;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>